.dockerignore
.git
.github
.tool-versions 
.turbo 
pnpm-lock.yaml 
pnpm-workspace.yaml 
turbo.json  

# Exclude editors files
.idea
.vscode

**/.editorconfig
**/.gitattributes
**/.gitignore
**/.npmrc
**/AGENTS.md
**/CHANGELOG.md
**/CLAUDE.md
**/CONTRIBUTING.md
**/docker-compose.override.yml
**/docker-compose.yaml
**/docker-compose.yml
**/env.example
**/node_modules
**/README.md
**/vendor 

# Exclude server-specific files 
apps/server/.env
apps/server/.env.*
apps/server/database/database.sqlite 
apps/server/phpstan.neon 
apps/server/phpunit.xml 
apps/server/pint.json 
apps/server/storage/app/*
apps/server/storage/framework/cache/*
apps/server/storage/framework/sessions/*
apps/server/storage/framework/testing/*
apps/server/storage/framework/views/*
apps/server/storage/logs/*
apps/server/tests
