# --- Server --- 
SERVER_APP_ENV=local
SERVER_APP_KEY=base64:0H/W7dMpT5vD2lXVB241/lkxv9EqscGOGAcbB9phsMc=
SERVER_APP_DEBUG=true
SERVER_APP_URL="http://localhost"
SERVER_APP_PORT=8000

SERVER_DB_HOST=server-db
SERVER_DB_PORT=5432
SERVER_DB_NAME=boxsys
SERVER_DB_USER=boxsys
SERVER_DB_PASSWORD="2y)U#LyD^IyBLEKn"

SERVER_CACHE_HOST=server-cache
SERVER_CACHE_PORT=6379
SERVER_CACHE_PASSWORD="Oohkr40wevuLLS-g"
